@{
    ViewData["Title"] = "Home Page";
}
    <style>
        body {
            background-image: url('slike/hnl.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        div {
            color: lawngreen;
        }
    </style>
<div class="text-center">
    <h1 class="display-4">1. HNL</h1>
</div>
